<header>
    <style>
        .centered{
            position: absolute;
            display: flex;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</header>

<h1 class="centered">&#128561; 404 Page not found</h1>
